<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gambling</title>
</head>
<body>

<a href="/roll-dice">Roll the Dice</a>
<h1>Guess the dice!</h1>
<h2>Guess a number between 1-6</h2>
<form action="/roll-dice" method="post">
    <button>Guess no. 1</button>
    <button>Guess no. 2</button>
    <button>Guess no. 3</button>
    <button>Guess no. 4</button>
    <button>Guess no. 5</button>
    <button>Guess no. 6</button>
</form>


</body>
</html>





